header{
    text-align: center;
    color: #381b36 ;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 5px;
    border: 10px solid rgba(228, 199, 203, 0.5);
    margin-top: 0px;
    background-color: rgba(228, 199, 203, 0.5);
    box-shadow: 0px 0px 10px #a5a5a5;
    display: table;
    width: 100%;

    
}

body{
    background-color: rgba(179, 138, 143, 0.288);
    font-family: system-ui;
}

.section{
    box-shadow: 0px 0px 10px #a5a5a5;
    background-color: rgba(228, 199, 203, 0.5);
    padding: 20px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

legend{
    color:rgba(119, 68, 121, 0.5);
    border-color: lightslategrey;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 3px;
    
}

fieldset{
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.form-group{
    font-size: 15px;
    text-transform: uppercase;
    color: #381b36;
    font-weight: bold;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    
}

input{
    margin-left: 15%;
    line-height: 20px;
    width: 540px; 
    border-color:rgba(228, 199, 203, 0.5);

}

label{
    line-height: 10px;
}

button{
    margin-top: 60px;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
    background-color:rgba(119, 68, 121, 0.5);
    padding: .9em 2em calc(.8em + 3px);
    display: grid;
    float: right;

    
}

th{
    border: none;
    margin-top: 0px;
    background-color: rgba(119, 68, 121, 0.5);
    box-shadow: 0px 0px 10px #a5a5a5;
    height: 40px;
    color:#381b36;
    text-transform: uppercase;
    padding: 5px;
    
}

td{
	padding: 5px 10px;
	border: none;
	text-align: left;
    border: none;
	
}

tbody tr:nth-child(odd){
	background: rgba(85, 47, 87, 0.082);
}

table{
    border-collapse: collapse;
}
